<<<<<<< Updated upstream

.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
    height:100%vh;
    width: 100%;
}

.home-top{
    display:flex;
    flex-direction:column;
    align-items: center;
    position:relative;

}

img {
    object-fit: cover;
    height:50%;
    width:100%;
}

.home-top >p {
    font-size:8vmax;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top:3%;
}

.home-top >h1{
    font-size: 1.5vmax;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    position: absolute;
    margin-top:15%;

}

.carousel {
    padding-top: 100px;
    padding-bottom: 100px;
    position: bottom;
}

.carousel >h1 {
    text-align: center;
    font-size:25px;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel >p {
    text-align: center;
    color:rgba(128, 128, 128, 0.945);
}

.slider{
    padding-top:100px;
    align-items:center;
}

.image1 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image1 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image2 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image2 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image3 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image3 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image4 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image4 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image5 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image5 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image6 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image6 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image7 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image7 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image8 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image8 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image9 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image9 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}



=======

.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
    height:100%vh;
    width: 100%;
}

.home-top{
    align-items: center;
}

img {
    object-fit: cover;
    height:50%;
    width:100%;
}

.home-top >h1{
    font-size: 80px;
    margin-top: -500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-top >p {
    font-size: 32px;
    margin-top: 8px; 
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel {
    padding-top: 400px;
    padding-bottom: 500px;
    position: bottom;
}

.carousel >h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel >p {
    text-align: center;
    color:rgba(128, 128, 128, 0.945);
}

.slider{
    padding-top:100px;
    align-items:center;
}

.image1 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image1 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image2 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image2 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image3 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image3 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image4 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image4 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image5 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image5 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image6 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image6 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image7 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image7 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image8 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image8 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}

.image9 >h3 >p{
    padding: 10px; 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image9 >h3 >p1{
    padding:10px;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(128, 128, 128, 0.671);
}



>>>>>>> Stashed changes
