.title, .reservations {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    padding-bottom: 5%;
    background-color: rgba(0, 139, 139, 0.7);
    color: white;
}

.reservations {
    padding-bottom: 10%;
}

#reserve {
   color: darkcyan;
   padding-bottom: 2%;
}

h3 {
    color: rgb(0, 46, 46);
}

#welcome {
    padding-bottom: 2%;
}

.info {
    padding-bottom: 5%;
}

h4 {
    padding-top: 1%;
}

  
  .account__guests {
    display: flex;
    align-items: center;
    border-bottom: 1;
    border-bottom-width: 10px;
    border-bottom-color: black;
    margin-bottom: 20px;
  }
  .account__calendarGuests {
    flex-grow: 1;
    font: bold;
  }
  
  .guest__selector {
    width: 40px;
    padding-left: 2px;
    font-size: large;
    outline: none;
  }
  
  .button__box{
    display: flex;
    margin-bottom: 20px;
  }
  
  .calendar__buttons{
    flex-grow: 1;
  
  }
