.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  width:auto;
  height: 100px;
  margin-left: 30px;
  cursor: pointer;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 999px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);

}

.header__center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  width: 400px;
  font-size: large;
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15wv;
  margin-right: 15px;
}

.sadSlash {
  user-select: none;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.header__calendar {
  margin-left:auto;
  margin-right: auto;
}

.header__guests {
  display: flex;
  align-items: center;
  border-bottom: 1;
  border-bottom-width: 10px;
  border-bottom-color: black;
  margin-bottom: 20px;
}
.header__calendarGuests {
  flex-grow: 1;
  font: bold;
}

.guest__selector {
  width: 40px;
  padding-left: 2px;
  font-size: large;
  outline: none;
}

.button__box{
  display: flex;
  margin-bottom: 20px;
}

.calendar__buttons{
  flex-grow: 1;

}