
.catalogPage__info{
    padding: 10px;
    margin-left: 30px;
}

.catalogPage__info > p {
    margin-bottom: 10px;
    font-size: 120;
}

.catalogPage__info > h1 {
    margin-bottom: 30px;
}

.catalogPage {
    margin-bottom: 70px;
}

.catalogPage__sortFilter{
    display: flex;
    margin-left: 40px;
}

.catalogPage__sortFilter > p {
    height: 100px;
    line-height: 50px;
    text-align: center;
}


