.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;

}

.searchResult__infoLeft {
    width: 64vw;
    margin-right: 4vw;
}

.searchResult__infoLeft > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoLeft > p {
    margin-top: 10px;
    font-size: 13px;
    color: grey;
}

.searchResult__price {
    justify-content:bottom;
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
    color: dark-grey;
}

.searchResult__reserve {
    justify-content: top;
    padding-bottom: 150px;
}