.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: larger;
    padding-left: 20px;

}

.searchResult__infoLeft {
    width: 64vw;
    margin-right: 4vw;
    
}

.searchResult__infoLeft > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoLeft > p {
    margin-top: 10px;
    font-size: 13px;
    color: grey;
}

.searchResult__price {
    position: absolute;
    display: inline-block;
    align-self: flex-end;
    text-align: center;
    font-size: 15px;
    /* font size was 16,added padding-top and padding-right, set text wrap none */
    padding-right: 10px;
    padding-top: 20px;
    white-space: nowrap;
    margin-bottom: 14px;
    top: 50%;
    color: dark-grey; 
}

.searchResult__reserve {
    position: relative;
    justify-content: top;
    padding-bottom: 150px;
    top: 25%;
}